.top-section {
    height: 802px;
    background-image: url('/static/images/banner.png');
    display: flex;
    flex-direction: column;
    .top-section-content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-header {
        .logo-section {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu-section {
            flex: 2;
        }

        .auth-section {
            flex: 1;
        }
    }
}


/* Search card in home reusable*/
.btn {
    &.btn-basic {
        background: red;
        color: white;
    }
}

.search-card {
    width: 990px;
    height: 80px;
    border-radius: 4px;
    border: solid 1px #efefef;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .input {
        flex: 2;
        text-align: center;

        input {
            height: 50px;
            border: none;
            width: 90%;
        }
    }

    .select {
        flex: 1;
        text-align: center;
        
        select {
            height: 50px;
            border: none;
            width: 90%;
        }
    }

    .button {
        flex: 1;
        text-align: center;
    }
}